footer#footer {
    border-top: 1px solid $black;
    padding: 4vw 2vw;


    .footer-inner-wrapper {
        .row {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: top;
            .column {
                display: flex;
                flex-direction: column;

                &:first-of-type {
                    width: 11.5vw;
                }

                &:nth-of-type(2) {
                    width: 34vw;

                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    form {
                        padding: 0;

                        input {
                            flex-grow: 1;
                            width: auto;
                        }

                        button {
                            width: auto;
                        }
                    }

                    .slogan {
                        text-transform: uppercase;
                    }
                }

                &:last-of-type {
                    width: 34vw;

                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    .daily-resource {
                        a {
                            display: block;
                            color: $black;
                            text-decoration: none;
                            text-transform: uppercase;
                            font-size: 2vw;
                            margin-top: 1vw;
                        }
                    }

                    .social-and-cp {
                        display: flex;
                        flex-direction: row;
                        align-items: bottom;

                        .copyright {
                            margin-left: 0.5vw;
                        }
                    }
                }
            }
        }

        .footer-logo {
            width: 100%;

            img {
              display: block;
              height: auto;
              width: 100%;
              @media only screen and (min-width: $tablet-breakpoint) {
                height: 100%;
                width: auto;
              }
            }
        }

        .content {
            margin-top: 2.25vw;
            line-height: 2;

            @media only screen and (min-width: $smdesktop-breakpoint) {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                flex-wrap: wrap;
            }

            h2 {
                font-size: 5.625vw;
                margin-bottom: 5vw;
                @media only screen and (min-width: $tablet-breakpoint) {
                    font-size: 18px;
                    margin-bottom: 20px;
                    width: 100%;
                    align-self: flex-start;
                }
            }

            .contact {
                margin-bottom: 5vw;
            }

            .menu-legal {
                @media only screen and (min-width: $smdesktop-breakpoint) {
                    text-align: right;;
                }
            }
        }
    }
}
