header#header {
  position: relative;
  padding: 6.25vw;
  transition: all 150ms ease-in-out;
  overflow: hidden;
  border-bottom: 1px solid $black;

  &.nav-open {
    bottom: 0;
  }

  @media only screen and (min-width: $tablet-breakpoint) {
    transition: top 150ms ease-in-out;
    overflow: visible;
    position: relative;
    bottom: auto;
    left: 0;
    right: 0;
    padding: 35px 145px;
  }

  .header-inner-wrapper {

    @media only screen and (min-width: $tablet-breakpoint) {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
  }

  .nonsticky-header {
    display: none;
    @media only screen and (min-width: $tablet-breakpoint) {
      display: block;
    }
  }
  .sticky-header {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    flex-direction: column;
    flex-wrap: wrap;
    background: $white;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $black;
    height: 30vw;
    padding: 5vw;
    transition: height ease-in 250ms, top ease-in 250ms;
    overflow: hidden;

    @media only screen and (min-width: $tablet-breakpoint) {
      top: -9.5vw;
      height: 9.5vw;
      flex-direction: row;
      flex-wrap: nowrap;
      padding: 0 2vw;
      align-items: center;
    }

    body.scrolled & {
      top: 0;
      height: 14vw;
      @media only screen and (min-width: $tablet-breakpoint) {
        height: 9.5vw
      }
    }


    .logo-wrapper {

      @media only screen and (min-width: $tablet-breakpoint) {
  
      }
  
      .logo {
        width: 60vw;
        @media only screen and (min-width: $tablet-breakpoint) {
          width: 29vw;
        }
  
        a {
  
          @media only screen and (min-width: $tablet-breakpoint) {
  
          }
        }

        img {
          display: block;
        }
      }
    }

    .tagline-and-menu {
      text-transform: uppercase;
      opacity: 1;
      transition: opacity ease-in 150ms;
      position: absolute;
      top: 30vw;
      left: 5vw;

      @media only screen and (min-width: $tablet-breakpoint) {
        position: relative;
        top: auto;
        left: auto;
        height: auto;
      }

      body.scrolled & {
        opacity: 0;
        @media only screen and (min-width: $tablet-breakpoint) {
          opacity: 1;
        }
      }

      #menu {
       
        display: none;

        @media only screen and (min-width: $tablet-breakpoint) {
          display: block;
          margin-top: 1vw;
        }

        ul {
          list-style: none;
          li {
            display: block;
            padding: 0;
            margin: 0;
            line-height: 1.1;

            a {
              color: $black;

              &:hover {
                text-decoration: none;
              }
            }
          }

        }
      }

    }

    .lets-get-weird {
      height: 100%;
      width: auto;
      
      @media only screen and (min-width: $tablet-breakpoint) {
        width: 8vw;
        height: auto;
      }
      
      img {
        height: 14vw;
        width: auto;
        display: block;
        float: right;
        @media only screen and (min-width: $tablet-breakpoint) {
          float: none;
          width: 100%;
          height: auto;
        }
      }

    }
  }

  #header-menu {
    position: absolute;
    top: 0;
    width: 87.5vw;
    margin: 0 0 0 auto;
    z-index: 99999;
    @media only screen and (min-width: $tablet-breakpoint) {
      position: static;
      width: auto;
    }
  }
}
