#container {
  padding-top: 27.5vw;
  @media only screen and (min-width: $tablet-breakpoint) {
    padding-top: 0;
  }

  body.page-template-page-ccoaching & {
    padding-top: 18vw;
  }

  .link-arrow {
    width: 8.69vw;
  }

  .button {
    color: $black;
    text-decoration: none;
    border: 1px solid $black;
    border-radius: 2.5vw;
    padding: 1.5vw 2.5vw;
    text-transform: uppercase;

    @media only screen and (min-width: $tablet-breakpoint) {
      border-radius: 0.75vw;
      padding: 0.25vw .5vw;
    }
  }

  .scrolling-columns {
    width: 100%;

    @media only screen and (max-width: $tablet-breakpoint) {
      background: none !important;
    }

    @media only screen and (min-width: $tablet-breakpoint) {
      display: flex;
      flex-direction: row;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .column {

      @media only screen and (min-width: $tablet-breakpoint) {
        width: 33.33%;
        height: 100vh;
        max-height: 70vh;
        overflow: hidden;
        border-right: 1px solid $black;
      }

      &:last-of-type {
        border-right: none;
      }
     
      .column-inner-wrapper {
        background: $white;

        border-bottom: 1px solid $black;

        @media only screen and (min-width: $tablet-breakpoint) {
          margin-bottom: calc( 70vh + 2px );
          min-height: 100%;
        }
        
        > * {
          padding: 7.5vw 5vw;
          @media only screen and (min-width: $tablet-breakpoint) {
            padding: 3vw 4vw;
          }
        }

        .newsletter {
          display: none;
          @media only screen and (min-width: $tablet-breakpoint) {
            display: block;
            border-top: 1px solid $black;
          }
        }

        .resource-library {
          border-top: 1px solid $black;

          .pdfs {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            .pdf {
              width: 48%;
               
            }
          }

          .videos {
            .video {
              .resource-image {
                position: relative;
                overflow: hidden;
                a:before {
                  content: "";
                  position: absolute;
                  top:0;
                  bottom: 0;
                  left:0;
                  right:0;
                  background-image: url('../images/video-play.png');
                  z-index: 99;
                  background-repeat: no-repeat;
                  background-position: center center;
                }
              }

              .resource-content {
                display: flex;
                flex-direction: row;
                align-items: top;
                justify-content: space-between;
                h3 {
                  flex-grow: 1;
                  margin-top: -.25vw;
                  a {
                  color: $black;
                  text-decoration: none;
                  }
                }
      
                .link-arrow {
                  margin-left: 1vw;
                  display: block;
                }
              }
            }
          }
        }
      }

      &:first-of-type .column-inner-wrapper  > * {
        @media only screen and (min-width: $tablet-breakpoint) {
          padding-left: 2vw;
        }
      }
      &:last-of-type .column-inner-wrapper  > * {
        @media only screen and (min-width: $tablet-breakpoint) {
          padding-right: 2vw;
        }
      }
    }

    &.unlocked .column {
      overflow: scroll;
    }
  }

  h2 {
    margin-bottom: 5vw;
    @media only screen and (min-width: $tablet-breakpoint) {
      margin-bottom: 2vw;
    }
  } 

  .calendar {
    .events {
      padding: 5vw 0 0;
      .event {
        border-top: 1px solid $black;
        padding: 5vw 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        @media only screen and (min-width: $tablet-breakpoint) {
          padding: 1.5vw 0;
        }

        line-height: 1;

        &:last-of-type {
          padding-bottom: 0;
        }


        .link-arrow {
          a img {
            display: block;
          }
        }
      }
    }
  }

  .ccoaching {
    border-top: 1px solid $black;

    @media only screen and (min-width: $tablet-breakpoint) {

    }

    .button-wrapper {
      margin-top: 5vw;
      margin-bottom: 2vw;
      text-align: center;

      @media only screen and (min-width: $tablet-breakpoint) {
        margin-top: 2vw;
      }
      
    }
  }

  .editorial-wrapper {
    .editorials {

      .button-wrapper {
        margin-top: 7.5vw;
        text-align: center;
      }
      .editorial {
        margin-bottom: 5vw;
        @media only screen and (min-width: $tablet-breakpoint) {
          margin-bottom: 2vw;
        }
        .feature-image {
          img {
            display: block;
            width: 100%;
            height: auto;
            max-width: 100%;
          }
        }
        .feature-content {
          margin-top: 2.5vw;
          display: flex;
          flex-direction: row;
          align-items: top;
          @media only screen and (min-width: $tablet-breakpoint) {
            margin-top: 0.75vw;
          }


          h3 {
            flex-grow: 1;
            margin-top: -.25vw;
            a {
            color: $black;
            text-decoration: none;
            }
          }

          .link-arrow {
            margin-left: 1vw;
          }
        }
      }
    }

    .editorials {
      .editorial-group {
        display: none;
        &:first-of-type {
          display: block;
        }
        &:nth-last-child(2) {
          .editorial:last-of-type {
            margin-bottom: 0;
          }
        }
        .editorial {

        }
      }
      .editorial {
      }
    }
  }
}

body.page-template-default, body.error404 {
  .page-title {
    font-size: 8.125vw;
    padding: 0 6.25vw;
    @media only screen and (min-width: $tablet-breakpoint) {
      font-size: 46px;
      padding: 40px 23vw 0;
    }
    @media only screen and (min-width: $lgdesktop-breakpoint) {
      padding: 40px 345px 0;
    }
  }
  .page-content {
    padding: 10vw 6.25vw;
    @media only screen and (min-width: $tablet-breakpoint) {
      padding: 5vw 23vw;
    }
    @media only screen and (min-width: $lgdesktop-breakpoint) {
      padding: 60px 345px;
    }

    h2, h3, h4, h5, p, ul, ol, * {
      margin-top: 6.25vw;
      @media only screen and (min-width: $tablet-breakpoint) {
        margin-top: 40px;
      }
    }

    > *:first-child {
      margin-top: 0;
    }

    h2, h3, h4, h5 {
      font-family: $font_trim;
    }

    h2 {
      font-size: 5.625vw;
      font-weight: 600;
      @media only screen and (min-width: $tablet-breakpoint) {
        font-size: 24px;
      }
    }

    h3 {
      font-size: 4.25vw;
      font-weight: 600;
      @media only screen and (min-width: $tablet-breakpoint) {
        font-size: 15px;
      }
    }

    h3 + p {
      margin-top:0;
    }

    * + h2 {
      margin-top: 8.125vw;
      @media only screen and (min-width: $tablet-breakpoint) {
        margin-top: 40px;
      }
    }


    p, ul, ol, * {
    }
  }
}

.newsletter {
  form {
    font-size: 7.24vw;
    text-transform: uppercase;
    padding: 1vw 2vw;
    display: flex;
    flex: 1 1 auto;  
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;

    @media only screen and (min-width: $tablet-breakpoint) {
      font-size: 2.77vw;
    }
    
    label {
      width: 100%;
      margin-bottom: 1vw;
    }
    
    input {
      width: 60%;
      padding: 0;
      margin: 0;
      border: none;
      font-size: 7.24vw;
      text-transform: uppercase;
      border-bottom: 1px solid $black;
      line-height: 1;
      height: 7.5vw;
      background: $white; 

      @media only screen and (min-width: $tablet-breakpoint) {
        font-size: 2.77vw;
        height: 3vw;
      }
    }
    button {
      width: calc( 40% - 0.5vw );
      height: calc( 7.5vw + 1px );
      align-items: bottom;
      background: transparent;
      border: none;
      border-bottom: 1px solid $black;
      font-size: 7.24vw;
      text-transform: uppercase;
      padding: 0;
      line-height: 1;
      margin-left: 0.5vw;
      font-family: $font_trim;
      @media only screen and (min-width: $tablet-breakpoint) {
        font-size: 2.77vw;
        height: 3vw;
      }
    }
  }
}

#container {
  .homepage-hero {
    display: none;
    @media only screen and (min-width: $tablet-breakpoint) {
      display: block;
    }
    .newsletter {
      form {
        flex-wrap: nowrap;
        
        label {
          width: auto;
          margin-bottom: 0;
          margin-right: 1.5vw;
        }
        
        input {
          flex-grow: 1;
          width: auto;
        }

        button {
          width: auto;

        }
      }
    }
    .magazine-preview {
      background: $black;
    }

    
  }
  
}

#container .ccoaching-page {
  display: flex;
  flex-direction: column;
  @media only screen and (min-width: $tablet-breakpoint) {
    flex-direction: row;
  }

  h2, h3 {
    font-size: 4.83vw;
    text-transform: uppercase;
    @media only screen and (min-width: $tablet-breakpoint) {
      font-size: 1.38vw;
    }
  }

  .column {
    display: flex;
    flex-direction: column;
    
    @media only screen and (min-width: $tablet-breakpoint) {
      width: 48%;
    }

    &:first-of-type, &:last-of-type {
      
      @media only screen and (min-width: $tablet-breakpoint) {
        width: 26%;
      }

      &:first-of-type {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          position: fixed;
          top: 0;
          left: 0;
          right: 0;
          border-bottom: 1px solid $black;
          padding: 5vw;
          background: $white;

          @media only screen and (min-width: $tablet-breakpoint) {
            padding: 0;
            border-bottom: none;
            position: relative;
            top: auto;
            left: auto;
            right: auto;
          }
        .row {
          
          @media only screen and (max-width: $tablet-breakpoint) {
            padding: 0;
          }
          @media only screen and (min-width: $tablet-breakpoint) {
            border-bottom: 1px solid $black;
            border-right: 1px solid $black;
          }

          &:last-child {
            border-bottom: none;
          }
        }
      }
      &:last-of-type {
        .row {
          border-bottom: 1px solid $black;
          @media only screen and (min-width: $tablet-breakpoint) {
            border-left: 1px solid $black;

  
          }

          &:last-child {
            border-bottom: none;
          }
        }
      }
    }

    .row {
      padding: 7.5vw 5vw;

      @media only screen and (min-width: $tablet-breakpoint) {
        padding: 1.38vw 2vw;
      }

      .heading {
        margin: -1.38vw -2vw;
        padding: 1.38vw 2vw;
        border-bottom: 1px solid $black;
      }
    }
  }

  .content-sections {
    
    padding: 1.38vw 4vw !important;
    margin-bottom: 7.5vw;

    @media only screen and (min-width: $tablet-breakpoint) {
      margin-bottom: 0;
      overflow: scroll;
      max-height: calc( 100vh - 1.38vw - 1.38vw );
    }

    .content-section {
      &:nth-of-type(n+2) {
        margin-top: 2vw;
      }

      p {
        line-height: 1.3;
        margin-bottom: 7.5vw;
        @media only screen and (min-width: $tablet-breakpoint) {
          margin-bottom: 2vw;
        }
      }

      .profile-photo {
        width: 50%;
        float: left;
        margin-right: 4.83vw;
      }

      .section-content {
        padding-top: 5vw;
        @media only screen and (min-width: $tablet-breakpoint) {
          padding-top: 0;
        }
      }
    }

    .section-heading {
      border-bottom: 1px solid $black;
      padding-bottom: 1.38vw;
      margin-bottom: 1.38vw;
      padding: 5vw 0;
      display: flex;
      flex-direction: row;
      @media only screen and (min-width: $tablet-breakpoint) {
        padding: 0;
      }
      .enumeration {
        font-family: $font_trim_poster;
        display: inline-block;
  
        & + h2 {
          display: inline-block;
          padding-bottom: 0;
          margin-bottom: 0;
          margin-left: 9vw;
          @media only screen and (min-width: $tablet-breakpoint) {
            margin-left: 4.5vw;
          }
        }
      }
    }
    


  }

  .header {
    h1 {
      font-family: $font_trim_poster;
      text-transform: uppercase;
    }
  }

  .references {
    display: none;
    @media only screen and (min-width: $tablet-breakpoint) {
      flex-grow: 1;
      display: block;
    }
  }

  
  .tunes {
    opacity: 0;
    transition: opacity 250ms ease-in;
    flex-grow: 1;
    display: none;
    //padding: 0 !important;
    iframe {
      margin: 1.38vw -2vw -1.38vw;
      width: calc( 100% + 4vw );
      height: calc( 100% - 1.38vw);
    }
  }

  .contact-wrapper {
    .contact.button {
      display: block;
      text-align: center;
      padding: 1vw 2vw;
      
    }
  }

  .newsletter {
    border-top: 1px solid $black;

    @media only screen and (min-width: $tablet-breakpoint) {
      border-top: none;
    }
    
    form {
      @media only screen and (min-width: $tablet-breakpoint) {
        font-size: 1.38vw;
      }

      label, input, button {
        
        @media only screen and (min-width: $tablet-breakpoint) {
          font-size: 1.38vw;
          height: 2vw;
        }
      }
      input {
        background: transparent;
        flex-grow: 1;
      }
      label {
        margin-bottom: 0;
      }
      button {
        width: auto;
        @media only screen and (min-width: $tablet-breakpoint) {
          height: calc(2vw + 1px);

        }
      }
    }
  }
  
  .social-and-cp {
    display: flex;
    flex-direction: row;

    .social {
      flex-grow: 1;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-right: 5vw;
      @media only screen and (min-width: $tablet-breakpoint) {
        margin-right: 1.38vw;
      }
      
    }
    a {
      text-decoration: none;
    }

    svg {
      width: auto;
      height: 7.5vw;
      @media only screen and (min-width: $tablet-breakpoint) {
        height: 1.67vw;
      }
    }
  }
}


.ccoaching-page {
  .sun-and-moon {
    flex-grow: 1;
    position: relative;
  
    .sun-moon-toggle {
      position: absolute;
        top: 3vh;
        left: 0;
        right: 0;

      .sun, .moon {
        transition: all 250ms ease-in;

        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        text-align: center;
        width: 6.5vw;
        
      }
      .moon {
        opacity: 0;
      }
    }    
  }
}

body.moon {
  color:#858589;
  #wrapper {
    background-color: $black;
  }
  #container .ccoaching-page {
    .column {
      .row {
        border-color: #858589 !important;
      }
    }
    .sun-and-moon {
      .sun-moon-toggle {
        .sun {
          opacity: 0;
        }
        .moon {
          opacity: 1;
        }
      }
    }

    .tunes {
      display: block;
      opacity: 1;
    }

    .references {
      display: none;
      opacity: 0;
    }

    svg {
      path, rect {
        fill: #858589;
      }
    }

    .heading {
      border-color: #858589 !important;
    }

    .newsletter {
      form {
  
        label, input, button {
          border-color: #858589 !important;
        }
        button {
          color: #858589 !important;
        }
      }
    }

    .contact.button {
      border-color: #858589 !important;
      color: #858589 !important;
    }
  }
}