@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

em, i {
  font-style: italic; }

strong, b {
  font-weight: bold; }

img {
  max-width: 100%;
  height: auto; }

.middle {
  width: 100%;
  position: absolute;
  max-height: 100%;
  max-width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%); }

.clearfix {
  *zoom: 1; }
  .clearfix:before, .clearfix:after {
    display: table;
    content: ""; }
  .clearfix:after {
    clear: both; }

.centered {
  text-align: center; }

.float-right {
  float: right; }

@keyframes bounce {
  0%, 10%, 30%, 50%, 60%, 100% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0); }
  20% {
    transform: translateX(30px);
    -webkit-transform: translateX(30px);
    -moz-transform: translateX(30px);
    -ms-transform: translateX(30px);
    -o-transform: translateX(30px); }
  40% {
    transform: translateX(15px);
    -webkit-transform: translateX(15px);
    -moz-transform: translateX(15px);
    -ms-transform: translateX(15px);
    -o-transform: translateX(15px); } }

@keyframes reverse-bounce {
  0%, 10%, 30%, 50%, 60%, 100% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0); }
  20% {
    transform: translateX(-30px);
    -webkit-transform: translateX(-30px);
    -moz-transform: translateX(-30px);
    -ms-transform: translateX(-30px);
    -o-transform: translateX(-30px); }
  40% {
    transform: translateX(-15px);
    -webkit-transform: translateX(-15px);
    -moz-transform: translateX(-15px);
    -ms-transform: translateX(-15px);
    -o-transform: translateX(-15px); } }

@font-face {
  font-family: 'Trim Mono';
  src: url("../fonts/TrimMono-Medium.eot");
  src: url("../fonts/TrimMono-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/TrimMono-Medium.woff2") format("woff2"), url("../fonts/TrimMono-Medium.woff") format("woff"), url("../fonts/TrimMono-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Trim';
  src: url("../fonts/Trim-BoldItalic.eot");
  src: url("../fonts/Trim-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Trim-BoldItalic.woff2") format("woff2"), url("../fonts/Trim-BoldItalic.woff") format("woff"), url("../fonts/Trim-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Trim';
  src: url("../fonts/Trim-Medium.eot");
  src: url("../fonts/Trim-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Trim-Medium.woff2") format("woff2"), url("../fonts/Trim-Medium.woff") format("woff"), url("../fonts/Trim-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Trim Poster Fat';
  src: url("../fonts/TrimPoster-Fat.eot");
  src: url("../fonts/TrimPoster-Fat.eot?#iefix") format("embedded-opentype"), url("../fonts/TrimPoster-Fat.woff2") format("woff2"), url("../fonts/TrimPoster-Fat.woff") format("woff"), url("../fonts/TrimPoster-Fat.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Trim Mono';
  src: url("../fonts/TrimMono-Light.eot");
  src: url("../fonts/TrimMono-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/TrimMono-Light.woff2") format("woff2"), url("../fonts/TrimMono-Light.woff") format("woff"), url("../fonts/TrimMono-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Trim Mono';
  src: url("../fonts/TrimMono-Regular.eot");
  src: url("../fonts/TrimMono-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/TrimMono-Regular.woff2") format("woff2"), url("../fonts/TrimMono-Regular.woff") format("woff"), url("../fonts/TrimMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Trim';
  src: url("../fonts/Trim-Light.eot");
  src: url("../fonts/Trim-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Trim-Light.woff2") format("woff2"), url("../fonts/Trim-Light.woff") format("woff"), url("../fonts/Trim-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Trim';
  src: url("../fonts/Trim-Regular.eot");
  src: url("../fonts/Trim-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Trim-Regular.woff2") format("woff2"), url("../fonts/Trim-Regular.woff") format("woff"), url("../fonts/Trim-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Trim';
  src: url("../fonts/Trim-Bold.eot");
  src: url("../fonts/Trim-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Trim-Bold.woff2") format("woff2"), url("../fonts/Trim-Bold.woff") format("woff"), url("../fonts/Trim-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Trim';
  src: url("../fonts/Trim-LightItalic.eot");
  src: url("../fonts/Trim-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Trim-LightItalic.woff2") format("woff2"), url("../fonts/Trim-LightItalic.woff") format("woff"), url("../fonts/Trim-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Trim';
  src: url("../fonts/Trim-MediumItalic.eot");
  src: url("../fonts/Trim-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Trim-MediumItalic.woff2") format("woff2"), url("../fonts/Trim-MediumItalic.woff") format("woff"), url("../fonts/Trim-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Trim';
  src: url("../fonts/Trim-Italic.eot");
  src: url("../fonts/Trim-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Trim-Italic.woff2") format("woff2"), url("../fonts/Trim-Italic.woff") format("woff"), url("../fonts/Trim-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap; }

body, html {
  font-family: "Trim", sans-serif;
  color: #17171E; }

body {
  overscroll-behavior-y: none;
  transition: color 250ms ease-in, background-color 250ms ease-in; }

#wrapper {
  background-color: #f5f5f5;
  transition: color 250ms ease-in, background-color 250ms ease-in; }

html {
  height: 100%;
  margin: 0 !important; }

body {
  min-height: 100%;
  background-color: #f7f8fa; }
  body.nav-open {
    overflow: hidden; }

body, p, input, textarea, button, * {
  font-family: "Trim", sans-serif;
  font-size: 4.83vw;
  line-height: 1.2; }
  @media only screen and (min-width: 900px) {
    body, p, input, textarea, button, * {
      font-size: 1.38vw; } }

#wrapper {
  margin: 0 auto; }

.hide-desktop {
  display: block; }
  @media only screen and (min-width: 900px) {
    .hide-desktop {
      display: none; } }

.hide-mobile {
  display: none; }
  @media only screen and (min-width: 900px) {
    .hide-mobile {
      display: block; } }

h1, h2, h3, h4, h5 {
  font-weight: normal; }
  h1 strong, h2 strong, h3 strong, h4 strong, h5 strong {
    font-family: "Trim Poster Fat", serif; }

h2 {
  text-transform: uppercase;
  font-size: 9.66vw;
  line-height: 1; }
  @media only screen and (min-width: 900px) {
    h2 {
      font-size: 2.77vw; } }

h3 {
  font-size: 7.24vw; }
  @media only screen and (min-width: 900px) {
    h3 {
      font-size: 2.77vw; } }

.image img {
  display: block;
  width: 100%;
  max-width: 100%; }

.image.has-gradient {
  position: relative; }
  .image.has-gradient:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(90deg, #171735, rgba(23, 23, 53, 0)); }

button {
  outline: none;
  border: none; }

header#header {
  position: relative;
  padding: 6.25vw;
  transition: all 150ms ease-in-out;
  overflow: hidden;
  border-bottom: 1px solid #17171E; }
  header#header.nav-open {
    bottom: 0; }
  @media only screen and (min-width: 900px) {
    header#header {
      transition: top 150ms ease-in-out;
      overflow: visible;
      position: relative;
      bottom: auto;
      left: 0;
      right: 0;
      padding: 35px 145px; } }
  @media only screen and (min-width: 900px) {
    header#header .header-inner-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center; } }
  header#header .nonsticky-header {
    display: none; }
    @media only screen and (min-width: 900px) {
      header#header .nonsticky-header {
        display: block; } }
  header#header .sticky-header {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    flex-direction: column;
    flex-wrap: wrap;
    background: #f5f5f5;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #17171E;
    height: 30vw;
    padding: 5vw;
    transition: height ease-in 250ms, top ease-in 250ms;
    overflow: hidden; }
    @media only screen and (min-width: 900px) {
      header#header .sticky-header {
        top: -9.5vw;
        height: 9.5vw;
        flex-direction: row;
        flex-wrap: nowrap;
        padding: 0 2vw;
        align-items: center; } }
    body.scrolled header#header .sticky-header {
      top: 0;
      height: 14vw; }
      @media only screen and (min-width: 900px) {
        body.scrolled header#header .sticky-header {
          height: 9.5vw; } }
    header#header .sticky-header .logo-wrapper .logo {
      width: 60vw; }
      @media only screen and (min-width: 900px) {
        header#header .sticky-header .logo-wrapper .logo {
          width: 29vw; } }
      header#header .sticky-header .logo-wrapper .logo img {
        display: block; }
    header#header .sticky-header .tagline-and-menu {
      text-transform: uppercase;
      opacity: 1;
      transition: opacity ease-in 150ms;
      position: absolute;
      top: 30vw;
      left: 5vw; }
      @media only screen and (min-width: 900px) {
        header#header .sticky-header .tagline-and-menu {
          position: relative;
          top: auto;
          left: auto;
          height: auto; } }
      body.scrolled header#header .sticky-header .tagline-and-menu {
        opacity: 0; }
        @media only screen and (min-width: 900px) {
          body.scrolled header#header .sticky-header .tagline-and-menu {
            opacity: 1; } }
      header#header .sticky-header .tagline-and-menu #menu {
        display: none; }
        @media only screen and (min-width: 900px) {
          header#header .sticky-header .tagline-and-menu #menu {
            display: block;
            margin-top: 1vw; } }
        header#header .sticky-header .tagline-and-menu #menu ul {
          list-style: none; }
          header#header .sticky-header .tagline-and-menu #menu ul li {
            display: block;
            padding: 0;
            margin: 0;
            line-height: 1.1; }
            header#header .sticky-header .tagline-and-menu #menu ul li a {
              color: #17171E; }
              header#header .sticky-header .tagline-and-menu #menu ul li a:hover {
                text-decoration: none; }
    header#header .sticky-header .lets-get-weird {
      height: 100%;
      width: auto; }
      @media only screen and (min-width: 900px) {
        header#header .sticky-header .lets-get-weird {
          width: 8vw;
          height: auto; } }
      header#header .sticky-header .lets-get-weird img {
        height: 14vw;
        width: auto;
        display: block;
        float: right; }
        @media only screen and (min-width: 900px) {
          header#header .sticky-header .lets-get-weird img {
            float: none;
            width: 100%;
            height: auto; } }
  header#header #header-menu {
    position: absolute;
    top: 0;
    width: 87.5vw;
    margin: 0 0 0 auto;
    z-index: 99999; }
    @media only screen and (min-width: 900px) {
      header#header #header-menu {
        position: static;
        width: auto; } }

footer#footer {
  border-top: 1px solid #17171E;
  padding: 7.5vw 5vw; }
  @media only screen and (min-width: 900px) {
    footer#footer {
      padding: 4vw 2vw; } }
  footer#footer .footer-inner-wrapper .row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: top; }
    @media only screen and (min-width: 900px) {
      footer#footer .footer-inner-wrapper .row {
        flex-direction: row; } }
    footer#footer .footer-inner-wrapper .row .column {
      display: flex;
      flex-direction: column; }
      @media only screen and (min-width: 900px) {
        footer#footer .footer-inner-wrapper .row .column:first-of-type {
          width: 11.5vw; } }
      @media only screen and (min-width: 900px) {
        footer#footer .footer-inner-wrapper .row .column:nth-of-type(2) {
          width: 34vw;
          display: flex;
          flex-direction: column;
          justify-content: space-between; } }
      footer#footer .footer-inner-wrapper .row .column:nth-of-type(2) form {
        padding: 0; }
        footer#footer .footer-inner-wrapper .row .column:nth-of-type(2) form input {
          flex-grow: 1;
          width: auto; }
        footer#footer .footer-inner-wrapper .row .column:nth-of-type(2) form button {
          width: auto; }
      footer#footer .footer-inner-wrapper .row .column:nth-of-type(2) .slogan {
        text-transform: uppercase; }
      footer#footer .footer-inner-wrapper .row .column:last-of-type {
        display: flex;
        flex-direction: column;
        justify-content: space-between; }
        @media only screen and (min-width: 900px) {
          footer#footer .footer-inner-wrapper .row .column:last-of-type {
            width: 34vw; } }
        footer#footer .footer-inner-wrapper .row .column:last-of-type .daily-resource a {
          display: block;
          color: #17171E;
          text-decoration: none;
          text-transform: uppercase;
          font-size: 2vw;
          margin-top: 1vw; }
        footer#footer .footer-inner-wrapper .row .column:last-of-type .social-and-cp {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between; }
          @media only screen and (min-width: 900px) {
            footer#footer .footer-inner-wrapper .row .column:last-of-type .social-and-cp {
              align-items: bottom;
              justify-content: flex-start; } }
          footer#footer .footer-inner-wrapper .row .column:last-of-type .social-and-cp .social {
            display: flex;
            flex-direction: row; }
            footer#footer .footer-inner-wrapper .row .column:last-of-type .social-and-cp .social > a {
              margin-right: 5vw;
              height: 7.5vw; }
              @media only screen and (min-width: 900px) {
                footer#footer .footer-inner-wrapper .row .column:last-of-type .social-and-cp .social > a {
                  height: 2vw;
                  margin-right: 1vw; } }
              footer#footer .footer-inner-wrapper .row .column:last-of-type .social-and-cp .social > a svg {
                display: block;
                height: 100%;
                width: auto; }
          footer#footer .footer-inner-wrapper .row .column:last-of-type .social-and-cp .copyright {
            text-align: right; }
            @media only screen and (min-width: 900px) {
              footer#footer .footer-inner-wrapper .row .column:last-of-type .social-and-cp .copyright {
                text-align: left;
                margin-left: 0.5vw; } }
  footer#footer .footer-inner-wrapper .footer-logo {
    width: 100%; }
    footer#footer .footer-inner-wrapper .footer-logo img {
      display: block;
      height: auto;
      width: 100%; }
      @media only screen and (min-width: 900px) {
        footer#footer .footer-inner-wrapper .footer-logo img {
          height: 100%;
          width: auto; } }
  footer#footer .footer-inner-wrapper .content {
    margin-top: 2.25vw;
    line-height: 2; }
    @media only screen and (min-width: 1000px) {
      footer#footer .footer-inner-wrapper .content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap; } }
    footer#footer .footer-inner-wrapper .content h2 {
      font-size: 5.625vw;
      margin-bottom: 5vw; }
      @media only screen and (min-width: 900px) {
        footer#footer .footer-inner-wrapper .content h2 {
          font-size: 18px;
          margin-bottom: 20px;
          width: 100%;
          align-self: flex-start; } }
    footer#footer .footer-inner-wrapper .content .contact {
      margin-bottom: 5vw; }
    @media only screen and (min-width: 1000px) {
      footer#footer .footer-inner-wrapper .content .menu-legal {
        text-align: right; } }
  footer#footer .footer-inner-wrapper .newsletter {
    margin-bottom: 7.5vw; }
    @media only screen and (min-width: 900px) {
      footer#footer .footer-inner-wrapper .newsletter {
        margin-bottom: 0; } }

.feature-quote {
  background-color: #60CFFF;
  color: #171735;
  padding: 20vw 6.25vw; }
  .feature-quote .quote {
    margin-bottom: 6.25vw; }
    @media only screen and (min-width: 900px) {
      .feature-quote .quote {
        margin-bottom: 20px; } }
  .feature-quote .quote-attribution {
    font-weight: 600; }
    .feature-quote .quote-attribution .quote-attribution-name {
      margin-bottom: 1.5vw; }
      @media only screen and (min-width: 900px) {
        .feature-quote .quote-attribution .quote-attribution-name {
          margin-bottom: 0;
          display: inline; }
          .feature-quote .quote-attribution .quote-attribution-name:after {
            content: ", "; } }
      .feature-quote .quote-attribution .quote-attribution-name:before {
        content: "— "; }
    @media only screen and (min-width: 900px) {
      .feature-quote .quote-attribution .quote-attribution-title {
        display: inline; } }

.quote-image {
  position: relative; }
  @media only screen and (min-width: 900px) {
    .quote-image {
      width: 37.5%; } }
  .quote-image:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background-image: url("../images/quote-triangle.png");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 100% auto;
    width: 13.75vw;
    height: 13.75vw;
    -moz-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    transform: scale(-1, 1); }
    @media only screen and (min-width: 900px) {
      .quote-image:before {
        width: 45px;
        height: 45px;
        top: auto;
        bottom: 0;
        -moz-transform: scale(-1, -1);
        -o-transform: scale(-1, -1);
        -webkit-transform: scale(-1, -1);
        transform: scale(-1, -1); } }
  .quote-image:after {
    content: "";
    position: absolute;
    top: 6.25vw;
    left: 6.25vw;
    background-image: url("../images/blue-quotes.png");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 100% auto;
    width: 10vw;
    height: 8vw;
    -moz-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    transform: scale(-1, 1); }
    @media only screen and (min-width: 900px) {
      .quote-image:after {
        width: 55px;
        height: 45px;
        top: 35px;
        left: 45px; } }
  .quote-image img {
    display: block;
    max-width: 100%;
    width: 100%; }

#container {
  padding-top: 27.5vw; }
  @media only screen and (min-width: 900px) {
    #container {
      padding-top: 0; } }
  body.page-template-page-ccoaching #container {
    padding-top: 18vw; }
  #container .link-arrow {
    width: 8.69vw; }
  #container .button {
    color: #17171E;
    text-decoration: none;
    border: 1px solid #17171E;
    border-radius: 2.5vw;
    padding: 1.5vw 2.5vw;
    text-transform: uppercase; }
    @media only screen and (min-width: 900px) {
      #container .button {
        border-radius: 0.75vw;
        padding: 0.25vw .5vw; } }
  #container .scrolling-columns {
    width: 100%; }
    @media only screen and (max-width: 900px) {
      #container .scrolling-columns {
        background: none !important; } }
    @media only screen and (min-width: 900px) {
      #container .scrolling-columns {
        display: flex;
        flex-direction: row;
        background-repeat: no-repeat;
        background-size: cover; } }
    @media only screen and (min-width: 900px) {
      #container .scrolling-columns .column {
        width: 33.33%;
        height: 100vh;
        max-height: 70vh;
        overflow: hidden;
        border-right: 1px solid #17171E; } }
    #container .scrolling-columns .column:last-of-type {
      border-right: none; }
    #container .scrolling-columns .column .column-inner-wrapper {
      background: #f5f5f5;
      border-bottom: 1px solid #17171E; }
      @media only screen and (min-width: 900px) {
        #container .scrolling-columns .column .column-inner-wrapper {
          margin-bottom: calc( 70vh + 2px);
          min-height: 100%; } }
      #container .scrolling-columns .column .column-inner-wrapper > * {
        padding: 7.5vw 5vw; }
        @media only screen and (min-width: 900px) {
          #container .scrolling-columns .column .column-inner-wrapper > * {
            padding: 3vw 4vw; } }
      #container .scrolling-columns .column .column-inner-wrapper .newsletter {
        display: none; }
        @media only screen and (min-width: 900px) {
          #container .scrolling-columns .column .column-inner-wrapper .newsletter {
            display: block;
            border-top: 1px solid #17171E; } }
      #container .scrolling-columns .column .column-inner-wrapper .resource-library {
        border-top: 1px solid #17171E; }
        #container .scrolling-columns .column .column-inner-wrapper .resource-library .pdfs {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap; }
          #container .scrolling-columns .column .column-inner-wrapper .resource-library .pdfs .pdf {
            width: 48%; }
        #container .scrolling-columns .column .column-inner-wrapper .resource-library .videos .video .resource-image {
          position: relative;
          overflow: hidden; }
          #container .scrolling-columns .column .column-inner-wrapper .resource-library .videos .video .resource-image a:before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-image: url("../images/video-play.png");
            z-index: 99;
            background-repeat: no-repeat;
            background-position: center center; }
        #container .scrolling-columns .column .column-inner-wrapper .resource-library .videos .video .resource-content {
          display: flex;
          flex-direction: row;
          align-items: top;
          justify-content: space-between; }
          #container .scrolling-columns .column .column-inner-wrapper .resource-library .videos .video .resource-content h3 {
            flex-grow: 1;
            margin-top: -.25vw; }
            #container .scrolling-columns .column .column-inner-wrapper .resource-library .videos .video .resource-content h3 a {
              color: #17171E;
              text-decoration: none; }
          #container .scrolling-columns .column .column-inner-wrapper .resource-library .videos .video .resource-content .link-arrow {
            margin-left: 1vw;
            display: block; }
    @media only screen and (min-width: 900px) {
      #container .scrolling-columns .column:first-of-type .column-inner-wrapper > * {
        padding-left: 2vw; } }
    @media only screen and (min-width: 900px) {
      #container .scrolling-columns .column:last-of-type .column-inner-wrapper > * {
        padding-right: 2vw; } }
    #container .scrolling-columns.unlocked .column {
      overflow: scroll; }
  #container h2 {
    margin-bottom: 5vw; }
    @media only screen and (min-width: 900px) {
      #container h2 {
        margin-bottom: 2vw; } }
  #container .calendar .events {
    padding: 5vw 0 0; }
    #container .calendar .events .event {
      border-top: 1px solid #17171E;
      padding: 5vw 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      line-height: 1; }
      @media only screen and (min-width: 900px) {
        #container .calendar .events .event {
          padding: 1.5vw 0; } }
      #container .calendar .events .event:last-of-type {
        padding-bottom: 0; }
      #container .calendar .events .event .link-arrow a img {
        display: block; }
  #container .ccoaching {
    border-top: 1px solid #17171E; }
    #container .ccoaching .button-wrapper {
      margin-top: 5vw;
      margin-bottom: 2vw;
      text-align: center; }
      @media only screen and (min-width: 900px) {
        #container .ccoaching .button-wrapper {
          margin-top: 2vw; } }
  #container .editorial-wrapper .editorials .button-wrapper {
    margin-top: 7.5vw;
    text-align: center; }
  #container .editorial-wrapper .editorials .editorial {
    margin-bottom: 5vw; }
    @media only screen and (min-width: 900px) {
      #container .editorial-wrapper .editorials .editorial {
        margin-bottom: 2vw; } }
    #container .editorial-wrapper .editorials .editorial .feature-image img {
      display: block;
      width: 100%;
      height: auto;
      max-width: 100%; }
    #container .editorial-wrapper .editorials .editorial .feature-content {
      margin-top: 2.5vw;
      display: flex;
      flex-direction: row;
      align-items: top; }
      @media only screen and (min-width: 900px) {
        #container .editorial-wrapper .editorials .editorial .feature-content {
          margin-top: 0.75vw; } }
      #container .editorial-wrapper .editorials .editorial .feature-content h3 {
        flex-grow: 1;
        margin-top: -.25vw; }
        #container .editorial-wrapper .editorials .editorial .feature-content h3 a {
          color: #17171E;
          text-decoration: none; }
      #container .editorial-wrapper .editorials .editorial .feature-content .link-arrow {
        margin-left: 1vw; }
  #container .editorial-wrapper .editorials .editorial-group {
    display: none; }
    #container .editorial-wrapper .editorials .editorial-group:first-of-type {
      display: block; }
    #container .editorial-wrapper .editorials .editorial-group:nth-last-child(2) .editorial:last-of-type {
      margin-bottom: 0; }

body.page-template-default .page-title, body.error404 .page-title {
  font-size: 8.125vw;
  padding: 0 6.25vw; }
  @media only screen and (min-width: 900px) {
    body.page-template-default .page-title, body.error404 .page-title {
      font-size: 46px;
      padding: 40px 23vw 0; } }
  @media only screen and (min-width: 1440px) {
    body.page-template-default .page-title, body.error404 .page-title {
      padding: 40px 345px 0; } }

body.page-template-default .page-content, body.error404 .page-content {
  padding: 10vw 6.25vw; }
  @media only screen and (min-width: 900px) {
    body.page-template-default .page-content, body.error404 .page-content {
      padding: 5vw 23vw; } }
  @media only screen and (min-width: 1440px) {
    body.page-template-default .page-content, body.error404 .page-content {
      padding: 60px 345px; } }
  body.page-template-default .page-content h2, body.page-template-default .page-content h3, body.page-template-default .page-content h4, body.page-template-default .page-content h5, body.page-template-default .page-content p, body.page-template-default .page-content ul, body.page-template-default .page-content ol, body.page-template-default .page-content *, body.error404 .page-content h2, body.error404 .page-content h3, body.error404 .page-content h4, body.error404 .page-content h5, body.error404 .page-content p, body.error404 .page-content ul, body.error404 .page-content ol, body.error404 .page-content * {
    margin-top: 6.25vw; }
    @media only screen and (min-width: 900px) {
      body.page-template-default .page-content h2, body.page-template-default .page-content h3, body.page-template-default .page-content h4, body.page-template-default .page-content h5, body.page-template-default .page-content p, body.page-template-default .page-content ul, body.page-template-default .page-content ol, body.page-template-default .page-content *, body.error404 .page-content h2, body.error404 .page-content h3, body.error404 .page-content h4, body.error404 .page-content h5, body.error404 .page-content p, body.error404 .page-content ul, body.error404 .page-content ol, body.error404 .page-content * {
        margin-top: 40px; } }
  body.page-template-default .page-content > *:first-child, body.error404 .page-content > *:first-child {
    margin-top: 0; }
  body.page-template-default .page-content h2, body.page-template-default .page-content h3, body.page-template-default .page-content h4, body.page-template-default .page-content h5, body.error404 .page-content h2, body.error404 .page-content h3, body.error404 .page-content h4, body.error404 .page-content h5 {
    font-family: "Trim", sans-serif; }
  body.page-template-default .page-content h2, body.error404 .page-content h2 {
    font-size: 5.625vw;
    font-weight: 600; }
    @media only screen and (min-width: 900px) {
      body.page-template-default .page-content h2, body.error404 .page-content h2 {
        font-size: 24px; } }
  body.page-template-default .page-content h3, body.error404 .page-content h3 {
    font-size: 4.25vw;
    font-weight: 600; }
    @media only screen and (min-width: 900px) {
      body.page-template-default .page-content h3, body.error404 .page-content h3 {
        font-size: 15px; } }
  body.page-template-default .page-content h3 + p, body.error404 .page-content h3 + p {
    margin-top: 0; }
  body.page-template-default .page-content * + h2, body.error404 .page-content * + h2 {
    margin-top: 8.125vw; }
    @media only screen and (min-width: 900px) {
      body.page-template-default .page-content * + h2, body.error404 .page-content * + h2 {
        margin-top: 40px; } }

.newsletter form {
  font-size: 7.24vw;
  text-transform: uppercase;
  padding: 1vw 2vw;
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap; }
  @media only screen and (min-width: 900px) {
    .newsletter form {
      font-size: 2.77vw; } }
  .newsletter form label {
    width: 100%;
    margin-bottom: 1vw; }
  .newsletter form input {
    width: 60%;
    padding: 0;
    margin: 0;
    border: none;
    font-size: 7.24vw;
    text-transform: uppercase;
    border-bottom: 1px solid #17171E;
    line-height: 1;
    height: 7.5vw;
    background: #f5f5f5; }
    @media only screen and (min-width: 900px) {
      .newsletter form input {
        font-size: 2.77vw;
        height: 3vw; } }
  .newsletter form button {
    width: calc( 40% - 0.5vw);
    height: calc( 7.5vw + 1px);
    align-items: bottom;
    background: transparent;
    border: none;
    border-bottom: 1px solid #17171E;
    font-size: 7.24vw;
    text-transform: uppercase;
    padding: 0;
    line-height: 1;
    margin-left: 0.5vw;
    font-family: "Trim", sans-serif; }
    @media only screen and (min-width: 900px) {
      .newsletter form button {
        font-size: 2.77vw;
        height: 3vw; } }

#container .homepage-hero {
  display: none; }
  @media only screen and (min-width: 900px) {
    #container .homepage-hero {
      display: block; } }
  #container .homepage-hero .newsletter form {
    flex-wrap: nowrap; }
    #container .homepage-hero .newsletter form label {
      width: auto;
      margin-bottom: 0;
      margin-right: 1.5vw; }
    #container .homepage-hero .newsletter form input {
      flex-grow: 1;
      width: auto; }
    #container .homepage-hero .newsletter form button {
      width: auto; }
  #container .homepage-hero .magazine-preview {
    background: #17171E; }

#container .ccoaching-page {
  display: flex;
  flex-direction: column; }
  @media only screen and (min-width: 900px) {
    #container .ccoaching-page {
      flex-direction: row; } }
  #container .ccoaching-page h2, #container .ccoaching-page h3 {
    font-size: 4.83vw;
    text-transform: uppercase; }
    @media only screen and (min-width: 900px) {
      #container .ccoaching-page h2, #container .ccoaching-page h3 {
        font-size: 1.38vw; } }
  #container .ccoaching-page .column {
    display: flex;
    flex-direction: column; }
    @media only screen and (min-width: 900px) {
      #container .ccoaching-page .column {
        width: 48%; } }
    @media only screen and (min-width: 900px) {
      #container .ccoaching-page .column:first-of-type, #container .ccoaching-page .column:last-of-type {
        width: 26%; } }
    #container .ccoaching-page .column:first-of-type:first-of-type, #container .ccoaching-page .column:last-of-type:first-of-type {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      border-bottom: 1px solid #17171E;
      padding: 5vw;
      background: #f5f5f5; }
      @media only screen and (min-width: 900px) {
        #container .ccoaching-page .column:first-of-type:first-of-type, #container .ccoaching-page .column:last-of-type:first-of-type {
          padding: 0;
          border-bottom: none;
          position: relative;
          top: auto;
          left: auto;
          right: auto; } }
      @media only screen and (max-width: 900px) {
        #container .ccoaching-page .column:first-of-type:first-of-type .row, #container .ccoaching-page .column:last-of-type:first-of-type .row {
          padding: 0; } }
      @media only screen and (min-width: 900px) {
        #container .ccoaching-page .column:first-of-type:first-of-type .row, #container .ccoaching-page .column:last-of-type:first-of-type .row {
          border-bottom: 1px solid #17171E;
          border-right: 1px solid #17171E; } }
      #container .ccoaching-page .column:first-of-type:first-of-type .row:last-child, #container .ccoaching-page .column:last-of-type:first-of-type .row:last-child {
        border-bottom: none; }
    #container .ccoaching-page .column:first-of-type:last-of-type .row, #container .ccoaching-page .column:last-of-type:last-of-type .row {
      border-bottom: 1px solid #17171E; }
      @media only screen and (min-width: 900px) {
        #container .ccoaching-page .column:first-of-type:last-of-type .row, #container .ccoaching-page .column:last-of-type:last-of-type .row {
          border-left: 1px solid #17171E; } }
      #container .ccoaching-page .column:first-of-type:last-of-type .row:last-child, #container .ccoaching-page .column:last-of-type:last-of-type .row:last-child {
        border-bottom: none; }
    #container .ccoaching-page .column .row {
      padding: 7.5vw 5vw; }
      @media only screen and (min-width: 900px) {
        #container .ccoaching-page .column .row {
          padding: 1.38vw 2vw; } }
      #container .ccoaching-page .column .row .heading {
        margin: -1.38vw -2vw;
        padding: 1.38vw 2vw;
        border-bottom: 1px solid #17171E; }
  #container .ccoaching-page .content-sections {
    padding: 1.38vw 4vw !important;
    margin-bottom: 7.5vw; }
    @media only screen and (min-width: 900px) {
      #container .ccoaching-page .content-sections {
        margin-bottom: 0;
        overflow: scroll;
        max-height: calc( 100vh - 1.38vw - 1.38vw); } }
    #container .ccoaching-page .content-sections .content-section:nth-of-type(n+2) {
      margin-top: 2vw; }
    #container .ccoaching-page .content-sections .content-section p {
      line-height: 1.3;
      margin-bottom: 7.5vw; }
      @media only screen and (min-width: 900px) {
        #container .ccoaching-page .content-sections .content-section p {
          margin-bottom: 2vw; } }
    #container .ccoaching-page .content-sections .content-section .profile-photo {
      width: 50%;
      float: left;
      margin-right: 4.83vw; }
    #container .ccoaching-page .content-sections .content-section .section-content {
      padding-top: 5vw; }
      @media only screen and (min-width: 900px) {
        #container .ccoaching-page .content-sections .content-section .section-content {
          padding-top: 0; } }
    #container .ccoaching-page .content-sections .section-heading {
      border-bottom: 1px solid #17171E;
      padding-bottom: 1.38vw;
      margin-bottom: 1.38vw;
      padding: 5vw 0;
      display: flex;
      flex-direction: row; }
      @media only screen and (min-width: 900px) {
        #container .ccoaching-page .content-sections .section-heading {
          padding: 0; } }
      #container .ccoaching-page .content-sections .section-heading .enumeration {
        font-family: "Trim Poster Fat", serif;
        display: inline-block; }
        #container .ccoaching-page .content-sections .section-heading .enumeration + h2 {
          display: inline-block;
          padding-bottom: 0;
          margin-bottom: 0;
          margin-left: 9vw; }
          @media only screen and (min-width: 900px) {
            #container .ccoaching-page .content-sections .section-heading .enumeration + h2 {
              margin-left: 4.5vw; } }
  #container .ccoaching-page .header h1 {
    font-family: "Trim Poster Fat", serif;
    text-transform: uppercase; }
  #container .ccoaching-page .references {
    display: none; }
    @media only screen and (min-width: 900px) {
      #container .ccoaching-page .references {
        flex-grow: 1;
        display: block; } }
  #container .ccoaching-page .tunes {
    opacity: 0;
    transition: opacity 250ms ease-in;
    flex-grow: 1;
    display: none; }
    #container .ccoaching-page .tunes iframe {
      margin: 1.38vw -2vw -1.38vw;
      width: calc( 100% + 4vw);
      height: calc( 100% - 1.38vw); }
  #container .ccoaching-page .contact-wrapper .contact.button {
    display: block;
    text-align: center;
    padding: 1vw 2vw; }
  #container .ccoaching-page .newsletter {
    border-top: 1px solid #17171E; }
    @media only screen and (min-width: 900px) {
      #container .ccoaching-page .newsletter {
        border-top: none; } }
    @media only screen and (min-width: 900px) {
      #container .ccoaching-page .newsletter form {
        font-size: 1.38vw; } }
    @media only screen and (min-width: 900px) {
      #container .ccoaching-page .newsletter form label, #container .ccoaching-page .newsletter form input, #container .ccoaching-page .newsletter form button {
        font-size: 1.38vw;
        height: 2vw; } }
    #container .ccoaching-page .newsletter form input {
      background: transparent;
      flex-grow: 1; }
    #container .ccoaching-page .newsletter form label {
      margin-bottom: 0; }
    #container .ccoaching-page .newsletter form button {
      width: auto; }
      @media only screen and (min-width: 900px) {
        #container .ccoaching-page .newsletter form button {
          height: calc(2vw + 1px); } }
  #container .ccoaching-page .social-and-cp {
    display: flex;
    flex-direction: row; }
    #container .ccoaching-page .social-and-cp .social {
      flex-grow: 1;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-right: 5vw; }
      @media only screen and (min-width: 900px) {
        #container .ccoaching-page .social-and-cp .social {
          margin-right: 1.38vw; } }
    #container .ccoaching-page .social-and-cp a {
      text-decoration: none; }
    #container .ccoaching-page .social-and-cp svg {
      width: auto;
      height: 7.5vw; }
      @media only screen and (min-width: 900px) {
        #container .ccoaching-page .social-and-cp svg {
          height: 1.67vw; } }

.ccoaching-page .sun-and-moon {
  flex-grow: 1;
  position: relative; }
  .ccoaching-page .sun-and-moon .sun-moon-toggle {
    position: absolute;
    top: 3vh;
    left: 0;
    right: 0; }
    .ccoaching-page .sun-and-moon .sun-moon-toggle .sun, .ccoaching-page .sun-and-moon .sun-moon-toggle .moon {
      transition: all 250ms ease-in;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      text-align: center;
      width: 6.5vw; }
    .ccoaching-page .sun-and-moon .sun-moon-toggle .moon {
      opacity: 0; }

body.moon {
  color: #858589; }
  body.moon #wrapper {
    background-color: #17171E; }
  body.moon #container .ccoaching-page .column .row {
    border-color: #858589 !important; }
  body.moon #container .ccoaching-page .sun-and-moon .sun-moon-toggle .sun {
    opacity: 0; }
  body.moon #container .ccoaching-page .sun-and-moon .sun-moon-toggle .moon {
    opacity: 1; }
  body.moon #container .ccoaching-page .tunes {
    display: block;
    opacity: 1; }
  body.moon #container .ccoaching-page .references {
    display: none;
    opacity: 0; }
  body.moon #container .ccoaching-page svg path, body.moon #container .ccoaching-page svg rect {
    fill: #858589; }
  body.moon #container .ccoaching-page .heading {
    border-color: #858589 !important; }
  body.moon #container .ccoaching-page .newsletter form label, body.moon #container .ccoaching-page .newsletter form input, body.moon #container .ccoaching-page .newsletter form button {
    border-color: #858589 !important; }
  body.moon #container .ccoaching-page .newsletter form button {
    color: #858589 !important; }
  body.moon #container .ccoaching-page .contact.button {
    border-color: #858589 !important;
    color: #858589 !important; }

body.single-post article.post header {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #17171E; }
  @media only screen and (min-width: 900px) {
    body.single-post article.post header {
      flex-direction: row-reverse; } }
  body.single-post article.post header a {
    color: #17171E; }
  body.single-post article.post header h1 {
    font-size: 14.5vw; }
    @media only screen and (min-width: 900px) {
      body.single-post article.post header h1 {
        font-size: 6.94vw;
        margin-top: 4vw; } }
  body.single-post article.post header .column {
    flex-grow: 1;
    padding: 7.5vw 5vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; }
    @media only screen and (min-width: 900px) {
      body.single-post article.post header .column {
        padding: 2.7vw 2vw; } }
    body.single-post article.post header .column .entry-title {
      flex-grow: 1; }
    body.single-post article.post header .column .attributions {
      justify-self: flex-end;
      margin-top: 5vw; }
      @media only screen and (min-width: 900px) {
        body.single-post article.post header .column .attributions {
          margin-top: 0; } }
    body.single-post article.post header .column .back-button {
      display: none; }
      @media only screen and (min-width: 900px) {
        body.single-post article.post header .column .back-button {
          display: block; } }
  @media only screen and (min-width: 900px) {
    body.single-post article.post header .image {
      width: 60%; } }

body.single-post article.post .entry-content .intro {
  padding: 7.5vw 5vw;
  border-bottom: 1px solid #17171E; }
  @media only screen and (min-width: 900px) {
    body.single-post article.post .entry-content .intro {
      padding: 4vw 2vw; } }
  body.single-post article.post .entry-content .intro p {
    font-family: "Trim Mono", sans-serif;
    font-size: 4.83vw;
    font-weight: 500;
    line-height: 1.3; }
    @media only screen and (min-width: 900px) {
      body.single-post article.post .entry-content .intro p {
        font-size: 2.78vw; } }

body.single-post article.post .entry-content .row {
  display: flex;
  flex-direction: column-reverse; }
  @media only screen and (min-width: 900px) {
    body.single-post article.post .entry-content .row {
      flex-direction: row; } }
  body.single-post article.post .entry-content .row .references {
    padding: 7.5vw 5vw;
    border-top: 1px solid #17171E; }
    @media only screen and (min-width: 900px) {
      body.single-post article.post .entry-content .row .references {
        border-right: 1px solid #17171E;
        border-top: none;
        padding: 4vw 2vw;
        width: 35%; } }
    body.single-post article.post .entry-content .row .references h3 {
      font-size: 4.83vw;
      text-transform: uppercase; }
      @media only screen and (min-width: 900px) {
        body.single-post article.post .entry-content .row .references h3 {
          font-size: 1.38vw; } }
  body.single-post article.post .entry-content .row .content-copy {
    padding: 7.5vw 5vw;
    flex-grow: 1; }
    @media only screen and (min-width: 900px) {
      body.single-post article.post .entry-content .row .content-copy {
        padding: 4vw 13vw 4vw 7vw; } }
    body.single-post article.post .entry-content .row .content-copy h1, body.single-post article.post .entry-content .row .content-copy h2, body.single-post article.post .entry-content .row .content-copy h3, body.single-post article.post .entry-content .row .content-copy h4, body.single-post article.post .entry-content .row .content-copy h5 {
      margin-bottom: 7.5vw; }
      @media only screen and (min-width: 900px) {
        body.single-post article.post .entry-content .row .content-copy h1, body.single-post article.post .entry-content .row .content-copy h2, body.single-post article.post .entry-content .row .content-copy h3, body.single-post article.post .entry-content .row .content-copy h4, body.single-post article.post .entry-content .row .content-copy h5 {
          margin-bottom: 2vw; } }
    body.single-post article.post .entry-content .row .content-copy p {
      margin-bottom: 7.5vw;
      line-height: 1.5; }
      @media only screen and (min-width: 900px) {
        body.single-post article.post .entry-content .row .content-copy p {
          margin-bottom: 2vw; } }

@media only screen and (min-width: 900px) {
  #content .featured-resources {
    padding: 0 145px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap; } }

#content .featured-resources .featured-card {
  display: block;
  background-color: #60CFFF;
  margin-bottom: 6.25vw; }
  @media only screen and (min-width: 900px) {
    #content .featured-resources .featured-card {
      width: calc(50% - 15px);
      margin-bottom: 0;
      position: relative; } }
  #content .featured-resources .featured-card:last-of-type {
    margin-bottom: 0; }
  #content .featured-resources .featured-card a {
    text-decoration: none;
    color: #171735; }
  #content .featured-resources .featured-card .content {
    padding: 6.25vw; }
    @media only screen and (min-width: 900px) {
      #content .featured-resources .featured-card .content {
        padding: 30px 30px 90px; } }
    #content .featured-resources .featured-card .content h3 {
      line-height: 1.45;
      margin-bottom: 10vw; }
      @media only screen and (min-width: 900px) {
        #content .featured-resources .featured-card .content h3 {
          margin-bottom: 40px; } }
    #content .featured-resources .featured-card .content .read-more {
      font-weight: 600;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-top: 10vw; }
      @media only screen and (min-width: 900px) {
        #content .featured-resources .featured-card .content .read-more {
          margin-top: 0;
          position: absolute;
          bottom: 30px; } }
      #content .featured-resources .featured-card .content .read-more:after {
        content: "";
        display: block;
        background-image: url("../images/resource-right-arrow.svg");
        background-repeat: no-repeat;
        background-size: 100% auto;
        height: 5.6vw;
        width: 3.5vw;
        margin-left: 1.5vw; }
        @media only screen and (min-width: 900px) {
          #content .featured-resources .featured-card .content .read-more:after {
            height: 18px;
            width: 10px;
            margin-left: 10px;
            transition: all 150ms ease-in-out; } }
    @media only screen and (min-width: 900px) {
      #content .featured-resources .featured-card .content:hover .read-more:after {
        margin-left: 20px; } }

@media only screen and (min-width: 900px) {
  #content .resource-categories {
    padding: 0 145px; } }

#content .resource-categories h2 {
  padding: 18.25vw 6.25vw; }
  @media only screen and (min-width: 900px) {
    #content .resource-categories h2 {
      padding: 45px 0; } }

#content .resource-categories a {
  color: #171735;
  text-decoration: none; }

#content .resource-categories .resource-category {
  position: relative;
  padding-bottom: 75%;
  margin-bottom: 6.25vw; }
  @media only screen and (min-width: 900px) {
    #content .resource-categories .resource-category:hover .content button {
      width: 160px;
      background: #0C277D; } }
  @media only screen and (min-width: 900px) {
    #content .resource-categories .resource-category {
      background-size: 70% auto;
      background-position: right bottom;
      height: 200px;
      display: flex;
      flex-direction: row;
      padding-bottom: 0;
      margin-bottom: 30px; } }
  #content .resource-categories .resource-category .background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #171735;
    background-repeat: no-repeat;
    background-size: auto 65%;
    background-position: center bottom; }
    @media only screen and (min-width: 900px) {
      #content .resource-categories .resource-category .background {
        background-size: 70% auto;
        background-position: right bottom; } }
  #content .resource-categories .resource-category .content {
    z-index: 9;
    position: relative;
    background-color: #60CFFF;
    padding: 18.75vw 6.25vw; }
    @media only screen and (min-width: 900px) {
      #content .resource-categories .resource-category .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 30px;
        min-width: 360px; } }
    #content .resource-categories .resource-category .content h3 {
      margin-bottom: 5vw; }
      @media only screen and (min-width: 900px) {
        #content .resource-categories .resource-category .content h3 {
          margin-bottom: 20px; } }
    #content .resource-categories .resource-category .content button {
      background-color: #171735;
      color: #f5f5f5;
      font-weight: 600;
      padding: 2vw 5vw;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      transition: all 150ms ease-in-out; }
      @media only screen and (min-width: 900px) {
        #content .resource-categories .resource-category .content button {
          padding: 10px 20px;
          width: 150px; } }
      #content .resource-categories .resource-category .content button:after {
        content: "";
        display: block;
        background-image: url("../images/resource-right-arrow.svg");
        background-repeat: no-repeat;
        background-size: 100% auto;
        height: 5.6vw;
        width: 3.5vw;
        margin-left: 1.5vw;
        transition: all 150ms ease-in-out; }
        @media only screen and (min-width: 900px) {
          #content .resource-categories .resource-category .content button:after {
            height: 18px;
            width: 10px;
            margin-left: 10px; } }
  #content .resource-categories .resource-category:after {
    position: relative;
    z-index: 9;
    content: "";
    display: block;
    background-image: url("../images/resource-asym-bottom.svg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: top center;
    height: 18.75vw;
    width: 100%; }
    @media only screen and (min-width: 900px) {
      #content .resource-categories .resource-category:after {
        background-image: url("../images/resource-asym-bottom-desktop.svg");
        height: 200px;
        width: 150px;
        background-size: 100% auto; } }

@media only screen and (min-width: 900px) {
  body.category #content header.header {
    position: relative; } }

body.category #content header.header .image:before {
  content: "";
  position: absolute;
  z-index: 5;
  bottom: -14.5vw;
  right: 6.25vw;
  background-image: url("../images/homepage-hero-downarrows.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 9.375vw;
  height: 23.4vw; }
  @media only screen and (min-width: 900px) {
    body.category #content header.header .image:before {
      width: 60px;
      height: 148px;
      bottom: -90px; } }

@media only screen and (min-width: 900px) {
  body.category #content header.header .content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center; } }

body.category #content header.header .content h1 {
  padding: 15vw 6.25vw;
  font-size: 8.125vw; }
  @media only screen and (min-width: 900px) {
    body.category #content header.header .content h1 {
      font-size: 46px;
      color: #f5f5f5;
      padding: 0 145px; } }

@media only screen and (min-width: 900px) {
  body.category #content .resource-posts {
    margin-top: 100px; } }

body.category #content .resource-posts .post {
  padding-bottom: 12.5vw; }
  @media only screen and (min-width: 900px) {
    body.category #content .resource-posts .post {
      padding-bottom: 85px; } }
  body.category #content .resource-posts .post:after {
    content: "";
    border-bottom: #f1f1f1 solid 1px;
    display: block;
    width: calc( 100% - 12.5vw);
    margin: 12.5vw auto 0; }
    @media only screen and (min-width: 900px) {
      body.category #content .resource-posts .post:after {
        width: calc(100% - 315px - 315px);
        margin: 85px auto 0; } }
  body.category #content .resource-posts .post h2 {
    font-size: 5.625vw;
    padding: 0 6.25vw;
    margin-bottom: 9.375vw; }
    @media only screen and (min-width: 900px) {
      body.category #content .resource-posts .post h2 {
        padding: 0 23vw 0;
        margin-bottom: 2.5vw;
        font-size: 36px; } }
    @media only screen and (min-width: 1440px) {
      body.category #content .resource-posts .post h2 {
        margin-bottom: 35px;
        padding: 0 345px 0;
        font-size: 36px; } }
  body.category #content .resource-posts .post .entry-content {
    padding-top: 0; }
    body.category #content .resource-posts .post .entry-content a {
      text-decoration: none;
      color: #171735;
      font-weight: 600;
      display: inline-block; }
      body.category #content .resource-posts .post .entry-content a:after {
        display: inline-block;
        content: "";
        background-image: url("../images/resource-right-arrow.svg");
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: top center;
        width: 3.125vw;
        height: 5.825vw;
        vertical-align: middle;
        margin-left: 1vw; }
        @media only screen and (min-width: 900px) {
          body.category #content .resource-posts .post .entry-content a:after {
            width: 14px;
            height: 24px;
            margin-left: 5px; } }
