
// Universal

body, html {
	font-family: $font_trim;
	color: $black;
}

body {
	overscroll-behavior-y: none;
	transition: color 250ms ease-in, background-color 250ms ease-in;
}

#wrapper {
	background-color: $white;
	transition: color 250ms ease-in, background-color 250ms ease-in;

}

html {
	height: 100%;
	margin: 0 !important;
}

body {
	min-height: 100%;
background-color: #f7f8fa;


	@media only screen and (min-width: $tablet-breakpoint) {

	}

	&.nav-open {
		overflow:hidden;
	}

	&.error404 {

	}
}

body, p, input, textarea, button, * {
	font-family: $font_trim;
	font-size: 4.83vw;
	line-height: 1.2;
	@media only screen and (min-width: $tablet-breakpoint) {
		font-size: 1.38vw;
	}
}

#wrapper {
	//max-width: 1440px;
	margin: 0 auto;
}

.hide-desktop {
	display: block;
	@media only screen and (min-width: $tablet-breakpoint) {
		display: none;
	}
}

.hide-mobile {
	display: none;
	@media only screen and (min-width: $tablet-breakpoint) {
		display: block;
	}
}


h1, h2, h3, h4, h5 {
	font-weight: normal;
	strong {
		font-family: $font_trim_poster;
	}
}

h2 {
	text-transform: uppercase;
	font-size: 9.66vw;
	line-height: 1;
	@media only screen and (min-width: $tablet-breakpoint) {
		font-size: 2.77vw;
	}
}

h3 {
	font-size: 7.24vw;
	@media only screen and (min-width: $tablet-breakpoint) {
		font-size: 2.77vw;
	}
}

.image {
	img {
		display: block;
		width: 100%;
		max-width: 100%;
	}

	&.has-gradient {
		position: relative;
		&:after {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background: linear-gradient(90deg, rgba(23,23,53,1), rgba(23,23,53,0));
		}
	}
}

button {
	outline: none;
	border: none;
}
